---
import "../css/index.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Winners from "../components/Winners.astro";
import winnerPicker from "../js/winnerPicker.js";
import saveToCSV from "../js/saveToCSV.js";

let result: string[] | string = [];
let isHaveError: boolean = false;
// const rollMethod: "csv" | "manual" | "youtube";
if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const participants = data.get("participants");
  result = winnerPicker(participants.toString().split(" "), 5);
  isHaveError = typeof result === "string" ? true : false;
  if (!isHaveError) new Date().toLocaleDateString();
}
---

<BaseLayout title="U Z ∆ Y   H ∆ L K I">
  <div class="container">
    <form method="post">
      <div class="input">
        <div class="text-1">Katılımcılar</div>
        <input type="text" class="participants" name="participants" />
        {!isHaveError ? <Winners winners={result} /> : <p>{result}</p>}
        <button class="roll" type="submit">ROLL</button>
      </div>
    </form>
  </div>
</BaseLayout>
