---
interface Props {
  choices: string[];
  types: string[];
}
import "../css/index.css";
import ConditionalRender from "../components/conditionalRender.jsx";
const { choices, types } = Astro.props;
---

<div class="container">
  <form method="post" enctype="multipart/form-data" id="roll_form">
    <div class="input">
      <div class="text-1">Katılımcılar</div>
      <!-- <slot /> -->
      <section class="choice-sec">
        <ConditionalRender choices={choices} client:load />
      </section>
      <select name="type_choice" id="type_choice">
        {
          types.map((type) => (
            <option value={type} id={`roll_form-${type}`}>
              {type}
            </option>
          ))
        }
      </select>
      <section id="counters-sec">
        <div class="counters">
          <label for="winner_count">Kaç kişi kazanıcak?</label>
          <input type="number" id="winner_count" class="counts" />
          <label for="subwinner_count">Kaç tane yedek olacak?</label>
          <input type="number" id="subwinner_count" class="counts" />
        </div>
      </section>
    </div>
  </form>
</div>
<script>
  import "@js/winnerPicker";
</script>
