---
interface Props {
  choices: string[];
  types: string[];
}
import "../css/index.css";
import ConditionalRender from "../components/conditionalRender.jsx";
const { choices, types } = Astro.props;
---

<div class="container">
  <form method="post" enctype="multipart/form-data" id="roll_form">
    <div class="input">
      <div class="text-1">Katılımcılar</div>
      <!-- <slot /> -->
      <section class="choice-sec">
        <ConditionalRender choices={choices} types={types} client:load />
      </section>
    </div>
  </form>
</div>
<div class="winners-div" id="winners_div">
  <section id="winners_sec" class="winners-sec">
    <span class="close-winners" id="close_winners">X</span>
    <ul id="winners" class="winners-box">
      <article class="winners-of-month" id="winners_of_month">
        <h3>Kazananlar</h3>
      </article>
      <article class="subwinners-of-month" id="subwinners_of_month">
        <h3>Yedekler</h3>
      </article>
    </ul>
  </section>
</div>
<script>
  import "@js/winnerPicker";
  import "@js/displayWinners";
</script>
