---
import "../css/index.css";
import ConditionalRender from "../components/conditionalRender.jsx";
const { choices } = Astro.props;
---

<div class="container">
  <form method="post" enctype="multipart/form-data">
    <div class="input">
      <div class="text-1">Katılımcılar</div>
      <slot />
      <section class="choice-sec"> 
        <ConditionalRender choices={choices} client:load/>
      </section>
      <button class="roll" type="submit">ROLL</button>
    </div>
  </form>
</div>
