:root{
        --saturn_spear: url("/assets/images/saturn_spear_cursor_icon.png");
        --saturn_liprod: url("/assets/images/saturn_liprod_cursor_icon.png");
        --sailor-pencil: url("/assets/images/sailor_moon_pencil_cursor_icon.png")
}

body{
        margin: 0;
        height: 100vh;
        cursor: var(--saturn_spear), auto;
        background: linear-gradient(90deg, rgba(36,0,35,1) 0%, rgba(121,9,120,1) 35%, rgba(59,0,255,1) 100%);
        font-family: sans-serif;
        font-size: 16px;
        overflow: hidden;
        align-items: center;
}

a:hover,
a:active,
a:visited,
button:hover{
        cursor: var(--saturn_liprod), auto;
}

textarea:hover{
        cursor: var(--sailor-pencil), auto;
}

.title-1 {
        display: flex;
        justify-content: center;
        color: #000;
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
        border-radius: 25px;
        font-size: 2vw;
        overflow: hidden; 
        white-space: nowrap; 
        margin: 0 auto; 
        animation: typing 3.5s steps(40, end), .75s step-end infinite;
        
}

.container {
        position: relative;
        top: 45%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

}

.input {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .text-1 {
        font-size: 2vw;
        margin-bottom: 10px;
        text-shadow: 2px 2px 8px #ce1141;
      }
      
      .participants {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 5px 5px 5px #000;
        border: 2px solid #ce1141;
        border-radius: 5px;
        height: 10vw;
        width: 20vw;
        background-color: #ce1141;
        color: gold;

        
      }
      
      .roll {
        padding: 10px 20px;
        background-color: #720e9e;
        color: #000;
        width: 18vw;
        height: 3vw;
        border: none;
        border-radius: 5px;
        font-size: 1vw;
        text-align: center;
        border: 2px solid #000;
        box-shadow: 2px 2px 2px 2px #000;
      }
      
      .roll:hover {
        background-color: #3e8e41;
      }
      

      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      

     