.title-1 {
        display: flex;
        justify-content: center;
        color: #000;
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
        border-radius: 25px;
        font-size: 2vw;
        overflow: hidden; 
        white-space: nowrap; 
        margin: 0 auto; 
        animation: typing 3.5s steps(40, end), .75s step-end infinite;
        
}

.container {
        position: relative;
        top: 55%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

}

.input {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .text-1 {
        font-size: 2vw;
        margin-bottom: 10px;
        text-shadow: 2px 2px 8px #ce1141;
      }
      
      .inp-manual {
        margin: 0 auto;
        display: block;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 5px 5px 5px #000;
        border: 2px solid #ce1141;
        border-radius: 5px;
        height: 10vw;
        width: 20vw;
        background-color: #ce1141;
        color: gold;
        font-size: 1vw;
            }

      .inp-file {
        background-color: #570779;
        color: #ce1141;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
        box-shadow: 2px 2px 2px 2px #000;
        width: 80%;
      }

      .inp-file:hover {
        background-color: #3e8e41;
      }

      .inp-file:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
      
      .roll {
        margin: 0 auto;
        display: block;
        padding: 10px 20px;
        background-color: #720e9e;
        color: #000;
        width: 18vw;
        height: 3vw;
        border: none;
        border-radius: 5px;
        font-size: 1vw;
        text-align: center;
        border: 2px solid #000;
        box-shadow: 2px 2px 2px 2px #000;
      }
      
      .roll:hover {
        background-color: #3e8e41;
      }
      

      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }

select {
  margin: 0 auto;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 1vw;
  color: #333;
  text-align: center;
  padding: 10px 20px 10px 20px;
  width: 25;
  text-shadow: 2px 2px 2px #ce1141;
  box-shadow: 2px 2px 2px  black;
  border-radius: 10px;
  background: #ffffff; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  white-space: nowrap; 
  margin-bottom: 25px;
}

select:hover {
  cursor: pointer;
}

select:focus {
  outline: none;
}

select option {
  font-size: 16px;
  color: #d50000; /* smooth red */
  background: #f3e5f5; /* purple */
  text-align: center;
}

select::-ms-expand {
  display: none;
}

.counters {
  display: flex;
  text-align: center;
  margin-bottom: 1.5em;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 20px;
  text-shadow: 2px 2px 8px #ce1141;
}

.counts {
  margin: 0 auto;
  display: block;
  font-size: 25px;
  color: gold;
  background-color: #ce1141;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000;
  border: 2px solid #ce1141;
  width: 18vw;


}

.winners-sec{
  background: linear-gradient(90deg, rgba(36,0,35,1) 0%, rgba(121,9,120,1) 35%, rgba(59,0,255,1) 100%);
  position: relative;
  width: 960px;
  height: 476px;
  font-size: 1.5rem;
  color: gold;
  animation: winnersPop ease-in-out 1 1s;
}

@keyframes winnersPop {
  0%{
    opacity: 0;
    left: -100%;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
    left: 2vw;
  }
}

.winners-box {
  display: flex;
  list-style: none;
  position: relative;
  flex-wrap: wrap;
  padding: 0;
  width: auto;
  height: auto;
  justify-content: space-evenly;
}

.winners-box article {
  text-align: center;
  width: 200px;
  height: auto;
}

.winners-div{
  display: none;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba(0,0,0, 0.5);
  z-index: 1;
}

.close-winners{
color: #DB172A;
font-size: 30px;
margin-left: 930px;
}

.close-winners:hover{
  opacity: 0.5;
  cursor: pointer;
}
